body {
  padding: 0;
  margin: 0;
  animation: bgcolor 60s infinite;
}

@keyframes bgcolor {
  0% {
    background-color: #644fad;
  }
  14% {
    background-color: #f3b4b2;
  }
  28% {
    background-color: #3a434e;
  }
  42% {
    background-color: #6f99bd;
  }
  56% {
    background-color: #ffd300;
  }
  70% {
    background-color: #d43b3f;
  }
  84% {
    background-color: #388c46;
  }
  100% {
    background-color: #644fad;
  }
}
